
    

body {
    font-family: 'Poppins', sans-serif;
    
}
.container{
    max-width: 90%;
}

header .text {
    text-align: center;
    color: hsl(234, 12%, 34%);

}
header .text h2 {
font-family: 'Poppins', sans-serif;
color: hsl(234, 12%, 34%);
font-weight: 200;
}

.description p{
    text-align: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
}


.supervisor  {
 width: 18rem;
 height: 13rem; 
border-top: 5px solid; 
border-color:hsl(180, 62%, 55%);
border-radius: 5px;
margin-top:5rem;
position: relative;
padding: 1.5rem;
box-shadow:  1px 1px 55px 1px rgb(204, 201, 201);

} 

.supervisor img {
 position: absolute;
margin-left: 12rem;
}

.supervisor h3{
    color: hsl(234, 12%, 34%);
}
.supervisor p {   
    font-size: 15px;
    color: hsl(0, 2%, 56%);
}

.culomn{
    gap: 1rem;
}

.team {

 width: 18rem; 
height: 13rem;
border-top: 5px solid; 
border-color:hsl(0, 78%, 62%);
border-radius: 5px;
position: relative;
padding: 1.5rem;
box-shadow: 1px 1px 55px -5px  rgb(204, 201, 201);

}


.team h3 {
    color: hsl(234, 12%, 34%);
} 
.team p {

    font-size: 15px;
    color: hsl(0, 2%, 56%);
} 

 .team img {

position: absolute;
margin-left: 12rem;
 }


.karma {
    width: 18rem;
    height: 13rem;
    border-top: 5px solid; 
    border-color:  hsl(34, 97%, 64%);
    border-radius: 5px;
    position: relative;
    box-shadow:  1px 1px 55px 1px rgb(204, 201, 201);
    padding: 1.5rem;
    margin-top: 1rem;

    }
    .karma img{
        position: absolute;
        margin-left: 12rem;
    }

    .karma h3{
        color: hsl(234, 12%, 34%);
    }
     .karma p {
        
        font-size: 15px;
        color: hsl(0, 2%, 56%);
        
        
    }


     .calculator {
        width: 18rem;
        height: 13rem;
        border-top: 5px solid; 
        border-color: hsl(212, 86%, 64%);
        border-radius: 5px;
        position: relative;
        padding: 1.5rem;
        margin-top: 5rem;
        box-shadow:   1px 1px 55px 1px rgb(204, 201, 201);
        
        }

        .calculator img {
            position: absolute;
        margin-left: 12rem;
        }
        .calculator h3 {
            color: hsl(234, 12%, 34%);
        }
        .calculator p {
            font-size: 15px;
            color: hsl(0, 2%, 56%);
            
        } 
        

     .all {
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
        justify-content: center;
        
     }
     .column {
        column-gap: normal;
    
    } 



@media screen and (max-width:576px) {

    .all {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin:unset;
        align-items: center;
        
        
    
    }
    .text{
        width: 100%;
    }
  
    .description p {
    
        width: 300px;
    text-align: center;
        margin:unset;
        margin: auto;
        
        
        
    }
    .supervisor  {
       width: 18rem;
        height: 13rem; 
       border-top: 5px solid; 
       border-color:hsl(180, 62%, 55%);
       border-radius: 5px;
       margin-top:5rem;
       position: relative;
       padding: 1.5rem;
       box-shadow:  1px 1px 55px 1px rgb(204, 201, 201);
       
       } 
       
       .supervisor img {
        position: absolute;
       margin-left: 12rem;
       }
       
       .supervisor h3{
           color: hsl(234, 12%, 34%);
       }
       .supervisor p {   
           font-size: 15px;
           color: hsl(0, 2%, 56%);
       }
        

       .calculator {
        width: 18rem;
        height: 13rem;
        border-top: 5px solid; 
        border-color: hsl(212, 86%, 64%);
        border-radius: 5px;
        position: relative;
        padding: 1.5rem;
        box-shadow:   1px 1px 55px 1px rgb(204, 201, 201);
        margin: unset;
        
        }

        .calculator img {
            position: absolute;
        margin-left: 12rem;
        }
        .calculator h3 {
            color: hsl(234, 12%, 34%);
        }
        .calculator p {
            font-size: 15px;
            color: hsl(0, 2%, 56%);
            
        } 


    } 

    @media screen and (max-width:768px) {

        .all {
            display: flex;
            width: 100%;
            flex-direction: column;
            margin:unset;
            align-items: center;
            
            
        
        }
        .text{
            width: 100%;
        }
      
        .description p {
        
            width: 300px;
        text-align: center;
            margin:unset;
            margin: auto;
            
            
            
        }
        .supervisor  {
           width: 18rem;
            height: 13rem; 
           border-top: 5px solid; 
           border-color:hsl(180, 62%, 55%);
           border-radius: 5px;
           margin-top:5rem;
           position: relative;
           padding: 1.5rem;
           box-shadow:  1px 1px 55px 1px rgb(204, 201, 201);
           
           } 
           
           .supervisor img {
            position: absolute;
           margin-left: 12rem;
           }
           
           .supervisor h3{
               color: hsl(234, 12%, 34%);
           }
           .supervisor p {   
               font-size: 15px;
               color: hsl(0, 2%, 56%);
           }
            
    
           .calculator {
            width: 18rem;
            height: 13rem;
            border-top: 5px solid; 
            border-color: hsl(212, 86%, 64%);
            border-radius: 5px;
            position: relative;
            padding: 1.5rem;
            box-shadow:   1px 1px 55px 1px rgb(204, 201, 201);
            margin: unset;
            
            }
    
            .calculator img {
                position: absolute;
            margin-left: 12rem;
            }
            .calculator h3 {
                color: hsl(234, 12%, 34%);
            }
            .calculator p {
                font-size: 15px;
                color: hsl(0, 2%, 56%);
                
            } 
    
    
        } 
    

        @media screen and (max-width:992px) {

            .all {
                display: flex;
                width: 100%;
                flex-direction: column;
                margin:unset;
                align-items: center;
                
                
            
            }
            .text{
                width: 100%;
            }
          
            .description p {
            
                width: 300px;
            text-align: center;
                margin:unset;
                margin: auto;
                
                
                
            }
            .supervisor  {
               width: 18rem;
                height: 13rem; 
               border-top: 5px solid; 
               border-color:hsl(180, 62%, 55%);
               border-radius: 5px;
                /* margin-left: 2rem;  */
               margin-top:5rem;
               position: relative;
               padding: 1.5rem;
               box-shadow:  1px 1px 55px 1px rgb(204, 201, 201);
               
               } 
               
               .supervisor img {
                position: absolute;
               margin-left: 12rem;
               }
               
               .supervisor h3{
                   color: hsl(234, 12%, 34%);
               }
               .supervisor p {   
                   font-size: 15px;
                   color: hsl(0, 2%, 56%);
               }
                
        
               .calculator {
                width: 18rem;
                height: 13rem;
                border-top: 5px solid; 
                border-color: hsl(212, 86%, 64%);
                border-radius: 5px;
                position: relative;
                padding: 1.5rem;
                box-shadow:   1px 1px 55px 1px rgb(204, 201, 201);
                margin: unset;
                
                }
        
                .calculator img {
                    position: absolute;
                margin-left: 12rem;
                }
                .calculator h3 {
                    color: hsl(234, 12%, 34%);
                }
                .calculator p {
                    font-size: 15px;
                    color: hsl(0, 2%, 56%);
                    
                } 
        
        
            } 
        



    






    


    
    
    
    

        
      
    






    
    

















